body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', 'sans-serif';
    margin: 0;
}


.header {
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
}

.links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 30px;
}

.links a,
.awesome-website p {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    margin: 0;
}

.hero {
    background-color: #1f2937;
}

.hero-content {
    display: flex;
    margin: 120px auto;
    flex-direction: row;
    justify-content: space-evenly;
}

.awesome-website {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.awesome-heading {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin: 0;
}

.image-place {
    display: flex;
    flex: 1;
    background-color: darkgray;
    justify-content: center;
    align-items: center;
}

.sign-up {
    width: 110px;
    height: 30px;
    background-color: #3882F6;
    color: #f9faf8;
    border-radius: 5px;
    border-color: #3882F6;
    align-self: flex-start;
}

.information {
    background-color: lightgreen;
}

.information-header {
    display: flex;
    flex: 1;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    justify-content: center;
}

.images-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 80px;
    flex-wrap: wrap;
}

.image {
    width: 160px;
    height: 160px;
    border-radius: 10px;
    border: 4px solid #3882F6;
}

.image-wrapper p {
    width: 160px;
    text-align: center;
}

.size {
    max-width: 900px;
    margin: auto auto;
}